@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h3>We would love to hear from you!</h3>

<h3>Calgary Office</h3>
<p>1155 8th Ave SW</p>
<p>Calgary, Alberta</p>
<p>T2P1N3</p>
<p>Phone: 403-271-9811</p>
<p>Fax: 403-271-9812</p>

<h3>Okotoks Office</h3>
<p>110 Main Street</p>
<p>Okotoks, Alberta</p>
<p>T7R3J5</p>
<p>Phone: 403-281-9811</p>
<p>Fax: 403-299-9812</p>

<p>info@travelexperts.ca</p>