@{
    ViewData["Title"] = "Home Page";
}
<div class ="jumbotron">
<div class="text-center">
    <h1 class="display-4">The Travel Experts</h1>
    <h3>Your trusted travel partner since 1987.</h3>
    
</div>
    </div>
